coverage   (!) 7.2.7 Code coverage measurement for Python
iniconfig  (!) 2.0.0 brain-dead simple config-ini parsing
packaging  (!) 23.1  Core utilities for Python packages
pluggy     (!) 1.2.0 plugin and hook calling mechanisms for python
pytest     (!) 7.4.0 pytest: simple powerful testing with Python
pytest-cov (!) 4.1.0 Pytest plugin for measuring coverage.
